@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.fwp {
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {

    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    position: absolute;
    top: 110px;
}
.oversm {
    overflow-x: auto;
}

@media screen and (min-width:425px){
    .oversm {
        overflow-x: auto;
    }
}
@media screen and (min-width:375px) {
    .swiper-pagination {
        position: absolute;
        top: 125px;
    }

}

@media screen and (min-width:425px) {
    .swiper-pagination {
        position: absolute;
        top: 145px;
    }
}

@media screen and (min-width:768px) {
    .swiper-pagination {
        position: absolute;
        top: 200px;
    }
}

@media screen and (min-width:768px) {
    .swiper-pagination {
        position: absolute;
        top: 200px;
    }
    .swiper-pagination2 {
        position: absolute;
        top: 150px !important;
    }
}

@media screen and (min-width:1024px) {
    .swiper-pagination {
        position: absolute;
        top: 185px;
    }
   
}
.bannerimg{
    width: 100% !important;
    height:60% !important;
}
