.searchdiv {
    position: relative;
}

.searchinput1 {
    border-radius: 13px !important;
    border: 2px solid black;
}

.searchicon1 {
    position: absolute;
    top: 22px;
    right: 10px;
    font-size: 20px;
}
.closebtn {
    position: absolute;
    top: 22px;
    right: 10px;
    font-size: 20px;
}

.searchicon2 {
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 20px;
}
.searchicon3 {
    position: absolute;
    top: 70px;
    right: 10px;
    font-size: 20px;
}
.searchinput2 {
    border: radius 0 !important;
    border: 2px solid black;
}